<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING/DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
  <bean id="triangle" class="com.au.spring.Triangle">
    <property name="PtA" ref="PtA"/>
    <property name="PtB" ref="PtB"/>
    <property name="PtC" ref="PtC"/>
  </bean>
  
  <bean id="PtA" class="com.au.spring.Point">
  	 <constructor-arg value="0"/>
     <constructor-arg value="0"/>
     <property name="x" value="0"/>
     <property name="y" value="0"/>
  </bean>
  
  <bean id="PtB" class="com.au.spring.Point">
  	   <constructor-arg value="1"/>
       <constructor-arg value="1"/>
       <property name="x" value="1"/>
       <property name="y" value="1"/>
  </bean>
  <bean id="PtC" class="com.au.spring.Point">
  		<constructor-arg value="2"/>
     	<constructor-arg value="2"/>
        <property name="x" value="2"/>
        <property name="y" value="2"/>
  </bean>
</beans>